@page "/Home"
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Components.Authorization;
@attribute [Authorize]


<PageTitle>Home</PageTitle>

<h1>Cursos Virtuales</h1>
<h1>Aplicacion para gestionar y asignar cursos virtuales</h1>
<AuthorizeView>
	<Authorized>
		<h1>Bienvenido: @context.User.Identity!.Name</h1>
		<h1>Tu UsuarioID:@context.User.FindFirst("UsuarioID")?.Value</h1>
	</Authorized>
</AuthorizeView>


