@page "/Evaluaciones"
@using Microsoft.AspNetCore.Authorization;
@attribute [Authorize(Roles = "Instructor,Administrador")]

<!DOCTYPE html>
<html>
<head>
    <title>Cursos Virtuales</title>
    <link rel="stylesheet" href="~/css/app.css" />
</head>
<body>
    <h1>Puedes acceder a esta pagina</h1>

</body>
</html>

@code {

}
